<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .wall-sub-btn {
            display: block;
            margin: 42px auto 0;
            width: 340px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            color: #fff;
            /*text-align: center;*/
            background: #3D84FF;
        }
        .text {
            margin: 42px auto 0;
            width: 340px;
            height: 30px;
            line-height: 40px;
            font-size: 16px;
        }

    </style>
</head>
<body>
    <form action = "http://192.168.10.75:30000/operation" method = "POST">
        <div style="text-align: center; height: 50px;margin-top: 5%">用户：<input class="text" type="text" name="user_name"/></div>
        <div style="text-align: center; height: 50px;">密码：<input class="text" type="password" name="password"/></div>
        <div style="text-align: center;"><input class="wall-sub-btn" type="submit" value="登录" name="login"/></div>
<!--        <div style="text-align: center;"><input class="input1" type="submit" value="login" name="登录"/></div>-->
        192.168.10.75
        192.168.10.75
    </form>
</body>
</html>
